@import '../../utilities/variables';

.card {
    background-color: $marvel-red;
    color: #FFFFFF;
    position: relative;
    margin-top: 3rem;
    padding: 1.5px;

    img {
        width: 100%;
        height: 75%;
        transition: 0.5s;
    }

    :hover img {
        transform: scale(1.1);
    }

    .title {
        text-align: center;
        padding: 1rem;
        font-size: 17px;
    }
}

.modal-card {
    background-color: $primary-color;
    color: $secondary-color;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-image {
        text-align: center;
        margin: 1rem;
        
        img {
            width: 50%;
            height: 50%;
        }
    }

    .modal-text {
        text-align: center;
        margin: 0 2rem 2rem;

        p {
            margin-top: 1rem;
            text-align: left;
        }
    }
}