:root {
    --primary-color: #FFF;
    --secondary-color: #000;
    --terciary-color: #666666;
    --marvel-red: rgb(217, 56, 49);
}

[data-theme="dark"] {
    --primary-color: #1E1E1E;
    --secondary-color: #FFF;
    --terciary-color: #FFF;
}