.content {

    margin-top: 8rem;

    .page-info {
        margin: 4rem 4rem 0rem;

        h2 {
            text-align: center;
            margin-bottom: 2rem;
        }
    
        p {
            color: #666666;
        }
    }
}