@import '../../utilities/variables';

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 10;

    .logo {
        display: flex;
        justify-content: center;
        height: 10vh;
        border-bottom: 1px solid $secondary-color;

        img {
            height: 100%;
        }
    }

    .links {
        border-bottom: 1px solid $secondary-color;

        .link-items {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
    
            li {
                list-style: none;
                padding: 1rem;
                
                a {
                    text-decoration: none;
                    color: $marvel-red;
                    padding: 1rem;
                    font-weight: bold;
                }
                
                a:hover {
                    color: $secondary-color;
                    scale: 1.10;
                }
            }
        }
    }

}