@import '../utilities/variables';

body {
    background-color: var(--primary-color) !important;
}

.search-bar {
    width: 100%;
    margin: 1rem 0;
    text-align: center;

    .search {
        padding: 1.2rem;
        border: 2px solid var(--marvel-red);
        border-radius: 1rem;
        width: 100%;
        height: 35px;
        color: var(--marvel-red);
        font-size: 16px;
    }
}

.infinite-scroll-component__outerdiv {
    width: 90%;
    margin-bottom: 2rem;

    p {
        text-align: center;
        margin: 2rem;
        font-size: 1.5rem;
    }
    
    .grid-items {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
}

.content {

    margin-top: 10rem;
    
    .page-info {
        padding: 3rem 1rem 0;
    
        h2 {
            text-align: center;
            margin-bottom: 2rem;
            color: var(--secondary-color);
        }
    
        p {
            color: var(--terciary-color);
            font-size: 20px;
        }
    }

    .card {
        background-color: var(--marvel-red);
        color: #FFFFFF;
        position: relative;
        margin-top: 3rem;
        padding: 1.5px;
    
        img {
            width: 100%;
            height: 75%;
            transition: 0.5s;
        }
    
        :hover img {
            transform: scale(1.1);
        }
    
        .title {
            text-align: center;
            padding: 1rem;
            font-size: 17px;
        }
    }
        
}

.modal-details {
    width: 80%;
    height: 80%;
    top: 10% !important;
    left: 10% !important;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);

    .modal-card {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .modal-image {
            text-align: center;
            margin: 1rem;
            
            img {
                width: 50%;
                height: 50%;
            }
        }
    
        .modal-text {
            text-align: center;
            margin: 0 2rem 2rem;
    
            p {
                margin-top: 1rem;
                text-align: left;
            }
        }
    }
}