.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
  }
  
  .input {
    width: 30%;
    margin: 1rem;
    outline: none;

    padding: 1rem;
    border: 2px solid var(--marvel-red);
    border-radius: 1rem;
    color: var(--marvel-red);
    font-size: 16px;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    margin: 12px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }