.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
  }
  
  .input {
    width: 15rem;
    height: 1.5rem;
    margin: 1rem;
    outline: none;
  }
  
  .btn {
    width: 4rem;
    height: 1.5rem;
    margin: 12px;
  }